@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Varela+Round&display=swap');
body{
    background-color: antiquewhite;
}

*{
    margin: 0;
    padding:0;
}

nav{
    font-family: 'Ubuntu',sans-serif;
}

nav ul{
    display: flex;
    list-style-type: none;
    background-color: black;
    height: 65px;
    color: white;
    align-items: center;
}

nav ul li{
    padding: 0 12px;
}

.brand img{
    width: 44px ;
    padding: 3px;
}

.brand{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3 rem;
}

.songList h1{
    color:whitesmoke;
}

.container{
    min-height: 72vh;
    background-color: black;
    color: white;
    font-family: 'Varela Round',sans-serif;
    display: flex;
    width: 85%;
    margin:23px auto;
    border-radius: 12px;
    padding: 34px;
    background-image: url(image/arijit.jpg);
    background-size: cover;
}

.songItemContainer{
    margin-top:74px  ;
}

.bottom{
    position: sticky;
    height: 130px;
    background-color: black;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    flex-direction: column;
}

.icons{
    margin-top: 14px;
}

.icons i{
    cursor: pointer;
}

#myProgressBar{
    width: 80vw;
    cursor: pointer; 
}

.songItem{
    height: 50px;
    display: flex;
    background-color: rgb(217, 201, 201);
    
    color: black;
    margin: 12px 0;
    justify-content: space-between;
    align-items: center;
    border-radius: 34px;
    
}

.songItem img{
    width: 43px;
    margin: 0 23px;
    border-radius: 34px;

}

.timestamp{
    margin: 0 23px;
}

.timestamp i{
    cursor: pointer;
}

.songInfo{
    position: absolute;
    font-family: 'Varela Round',sans-serif;
    left: 10vw;
}

.songInfo img{
    opacity: 0;
    transition: opacity 0.4s ease-in;
}

#home{
    text-decoration: none;
    color:white;
}

#about{
    text-decoration: white;
    color: white;
}

