@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Varela+Round&display=swap');


*{
    margin: 0;
    padding: 0;
}

body{
    background-color: hsl(223, 94%, 6%);   
}

nav ul{
    display: flex;
    list-style-type: none;
    background-color: black;
    height: 65px;
    color: white;
    align-items: center;
}

.brand img{
    width: 44px ;
    padding: 3px;
}

.brand{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3 rem;
}

#Download{
    cursor: pointer;
    font-family: 'Ubuntu',sans-serif;
    font-size: 1.3rem;
    font-weight: bold;
}

#New{
    cursor: pointer;
    font-family: 'Ubuntu',sans-serif;
    font-size: 1.3rem;
    font-weight: bold;
}

.info{
     display: flex;
    list-style-type: none;
    height: 65px;
    color: white;
    align-items: center;
    margin-left: 100px;
    width: 100%;
}

#New{
    margin-left: 80px;
}

.Search{
    margin-left: 80px;
}

#Search{
    width: 800px;
    height: 36px;
    border-radius: 15px;
    border: none;
}

.container{
    display: flex;
    align-items: center;
    background-color: hsl(240, 19%, 85%);
    margin-top: 70px;
    background-image: url(image/guitar-island-sunset-trees-arranged-shape-background-music-reflection-water-64403706.jpg);
    background-position: center;
    background-size: cover;
}

.leftContainer{
    width: 20vw;
    margin-left: 87px;
    height: 50vh;
    
    text-align: center;
    margin-top: 100px;
    margin-left: auto;
    margin-bottom: 65px;
    font-family: 'Varela Round',sans-serif;
    font-size: 2rem;
    font-weight: bold;
    border-radius: 10px;
    color: white;
    backdrop-filter: blur(5px);

}

.middleContainer{
   width: 20vw;
    margin-left: 87px;
    height: 50vh;
    backdrop-filter: blur(5px);
    color: white;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 65px;
    font-family: 'Varela Round',sans-serif;
    font-size: 2rem;
    font-weight: bold;
}

.rightContainer{
    width: 20vw;
    margin-left: 87px;
    height: 50vh;
    backdrop-filter: blur(5px);
    color: white;
    text-align: center;
    margin-top: 100px;
    margin-right: auto;
    margin-bottom: 65px;
    font-family: 'Varela Round',sans-serif;
    font-size: 2rem;
    font-weight: bold;
}

.leftContainer button {
    display: block;
    padding: 10px 10px;
    width: 215px;
    margin: 23px auto;
    cursor: pointer;
    border-radius: 18px;
    background-color: rgb(72, 16, 105);
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: bold;
    color: white;
    
}




.middleContainer button{
    display: block;
    padding: 10px 10px;
    width: 215px;
    margin: 23px auto;
    cursor: pointer;
    border-radius: 18px;
}

.rightContainer button{
    display: block;
    padding: 10px 10px;
    width: 215px;
    margin: 23px auto;
    cursor: pointer;
    border-radius: 18px;
}

.leftContainer button:hover{
    box-shadow: 3px 3px black;
}

.middleContainer button:hover{
    box-shadow: 3px 3px black;
}

.rightContainer button:hover{
    box-shadow: 3px 3px black;
}


.bottom{
    position: sticky;
    height: 95px;
    background-color: black;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    flex-direction: column;
    margin: 25px auto;
}

.icons{
    margin-top: 14px;
}

.icons i{
    cursor: pointer;
}

#myProgressBar{
    width: 80vw;
    cursor: pointer; 
}

.songInfo{
    position: absolute;
    font-family: 'Varela Round',sans-serif;
    left: 10vw;
}

.songInfo img{
    opacity: 0;
    transition: opacity 0.4s ease-in;
}